<section class="catalog">
    <div class="catalog__container">
        <h1 class="_label-title">Choose your car</h1>

        <div class="tabs">
            <nav class="tabs__navigation">
                <button class="tabs__btn _active">Car and Minivan</button>
                <button class="tabs__btn">Trucks</button>
                <button class="tabs__btn">Crossovers & SUVs</button>
                <button class="tabs__btn">Electrified</button>
            </nav>
            <div class="tabs__list">
                <div class="tabs__item _active">
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item1.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Toyota Crown 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>650</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item2.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Prius Prime 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title"><span> $ 450</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item3.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Toyota Prius 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>400</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item4.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Kona 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>510</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>

                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item5.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Ford Explorer 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>1,013</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item6.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Santa  Fe 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title"><span> $ 739</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item7.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">KIA Niro 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 33600</span></div>
                        <div class="tabs__item-title"><span>$554</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item8.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Silverado</h2>
                        <div class="tabs__item-price">starting from <span>$ 62260</span></div>
                        <div class="tabs__item-title"><span>$ 1,032</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>

                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item9.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Honda CR-V 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 35650</span></div>
                        <div class="tabs__item-title">$ <span>591</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item10.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Tucson</h2>
                        <div class="tabs__item-price">starting from <span>$ 31885</span></div>
                        <div class="tabs__item-title"><span>$528</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item11.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Equinox </h2>
                        <div class="tabs__item-price">starting from <span>$ 28430</span></div>
                        <div class="tabs__item-title"><span>$471</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item12.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Jeep Wrangler 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 60000</span></div>
                        <div class="tabs__item-title"><span>$997</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                </div>

                <div class="tabs__item">
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item4.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Kona 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>510</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>

                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item5.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Ford Explorer 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title">$ <span>1,013</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item6.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Santa  Fe 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 39900</span></div>
                        <div class="tabs__item-title"><span> $ 739</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item7.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">KIA Niro 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 33600</span></div>
                        <div class="tabs__item-title"><span>$554</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item8.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Silverado</h2>
                        <div class="tabs__item-price">starting from <span>$ 62260</span></div>
                        <div class="tabs__item-title"><span>$ 1,032</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>

                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item9.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Honda CR-V 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 35650</span></div>
                        <div class="tabs__item-title">$ <span>591</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item10.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Tucson</h2>
                        <div class="tabs__item-price">starting from <span>$ 31885</span></div>
                        <div class="tabs__item-title"><span>$528</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item11.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Equinox </h2>
                        <div class="tabs__item-price">starting from <span>$ 28430</span></div>
                        <div class="tabs__item-title"><span>$471</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item12.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Jeep Wrangler 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 60000</span></div>
                        <div class="tabs__item-title"><span>$997</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                </div>

                <div class="tabs__item">
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item7.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">KIA Niro 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 33600</span></div>
                        <div class="tabs__item-title"><span>$554</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item8.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Silverado</h2>
                        <div class="tabs__item-price">starting from <span>$ 62260</span></div>
                        <div class="tabs__item-title"><span>$ 1,032</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>

                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item9.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Honda CR-V 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 35650</span></div>
                        <div class="tabs__item-title">$ <span>591</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item10.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Tucson</h2>
                        <div class="tabs__item-price">starting from <span>$ 31885</span></div>
                        <div class="tabs__item-title"><span>$528</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item11.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Equinox </h2>
                        <div class="tabs__item-price">starting from <span>$ 28430</span></div>
                        <div class="tabs__item-title"><span>$471</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item12.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Jeep Wrangler 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 60000</span></div>
                        <div class="tabs__item-title"><span>$997</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                </div>

                <div class="tabs__item">
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item10.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Hyundai Tucson</h2>
                        <div class="tabs__item-price">starting from <span>$ 31885</span></div>
                        <div class="tabs__item-title"><span>$528</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item11.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Chevrolet Equinox </h2>
                        <div class="tabs__item-price">starting from <span>$ 28430</span></div>
                        <div class="tabs__item-title"><span>$471</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                    <div class="tabs__item-card">
                        <div class="tabs__item-images">
                            <img src="./images/catalog/item12.webp" alt="">
                        </div>
                        <h2 class="tabs__item-title">Jeep Wrangler 2023</h2>
                        <div class="tabs__item-price">starting from <span>$ 60000</span></div>
                        <div class="tabs__item-title"><span>$997</span>/mo</div>
                        <a href="#" class="tabs__item-details">see details</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="_label-btn">SHOW MORE</a>

    </div>
</section>