<section class="cause _section-padding">
    <div class="cause__container">
        <h2 class="_label-title">Why Lease with D&M?</h2>
        <ul class="cause__list">
            <li class="cause__list-item">
                <div class="cause__list-images"><img src="images/car.svg" alt="top car"></div>
                <h3 class="cause__list-title">Top Dealers</h3>
                <p>TrueCar Certified Dealers compete for your business by providing discounted pricing on in-stock inventory.</p>
            </li>
            <li class="cause__list-item">
                <div class="cause__list-images"><img src="images/discountend.svg" alt="Discounted Pricing"></div>
                <h3 class="cause__list-title">Discounted Pricing</h3>
                <p>View local inventory from the comfort of home and get access to guaranteed savings on the car of your choice.</p>
            </li>
            <li class="cause__list-item">
                <div class="cause__list-images"><img src="images/payments.svg" alt="Lower Payments"></div>
                <h3 class="cause__list-title">Lower Payments</h3>
                <p>Get discounted pricing when you shop for a car or truck using TrueCar and save on your lease payment.</p>
            </li>
            <li class="cause__list-item">
                <div class="cause__list-images"><img src="images/upgrade.svg" alt="Easy Upgrade"></div>
                <h3 class="cause__list-title">Easy Upgrade</h3>
                <p>Easy to upgrade to the newest vehicle model every few years if you would like to be modern and comfortable</p>
            </li>
        </ul>
    </div>
</section>