<section class="important">
    <div class="important__container">
        <h5 class="_label-title">Important Things to Consider</h5>
        <p>
            Depending on your circumstances and what is important to you, a lease could be a great option for your next vehicle. Below are some important factors that may influence your decision.
        </p>
        <ul class="important__list">
            <li class="important__list-item">
                <div class="important__list-image">
                    <img src="images/ipmortant-image-1.webp" alt="Monthly payments">
                </div>
                <div class="important__list-text">
                    Monthly payments on leases are generally 20% - 30% cheaper than loans
                </div>
            </li>
            <li class="important__list-item">
                <div class="important__list-image">
                    <img src="images/ipmortant-image-2.webp" alt="You may">
                </div>
                <div class="important__list-text">
                    You may be eligible for a tax break if you use the leased vehicle for business purposes
                </div>
            </li>
            <li class="important__list-item">
                <div class="important__list-image">
                    <img src="images/ipmortant-image-3.webp" alt="Easy to upgrade">
                </div>
                <div class="important__list-text">
                    Easy to upgrade to the newest vehicle model every few years
                </div>
            </li>
            <li class="important__list-item">
                <div class="important__list-image">
                    <img src="images/ipmortant-image-4.webp" alt="There are often">
                </div>
                <div class="important__list-text">
                    There are often fees charged if you drive more than your lease's mileage allowance
                </div>
            </li>
        </ul>
    </div>
</section>