<section class="top">
    <div class="top__container">
        <h1 class="top__title">Leasing From D&M</h1>
        <a href="#" class="top__link _anim-items animate__fadeInDown">FIND A CAR</a>
    </div>
</section>
<div class="main-slider">
    <!-- Оболочка слайдера -->
    <div class="main-slider__slider swiper">
        <!-- Двигающееся часть слайдера -->
        <div class="main-slider__wrapper swiper-wrapper">
            <!-- Слайд -->
            <div class="main-slider__slide swiper-slide" style="background-image: url('../../images/slide-1.webp');"></div>
            <div class="main-slider__slide swiper-slide" style="background-image: url('../../images/slide-2.webp');"></div>
            <div class="main-slider__slide swiper-slide" style="background-image: url('../../images/slide-3.webp');"></div>
            <div class="main-slider__slide swiper-slide" style="background-image: url('../../images/slide-4.webp');"></div>
        </div>
        <!-- Если нужна пагинация -->
        <div class="main-slider__pagination swiper-pagination"></div>
    </div>
</div>