<section class="welcome _section-padding">
    <div class="welcome__container">
        <h4 class="_label-title">WELCOME TO D&M LEASING</h4>
        <h5 class="_label-subtitle">Find out how easy it is to lease from D&M</h5>

        <div class="welcome__wrapper">
            <div class="welcome__video">
                <div class="welcome__video-placeholder">
                    <img src="images/video-placeholder.webp" alt="video new car">
                </div>
            </div>
        </div>
        <div class="welcome__modal">
            <div class="welcome__modal-close"><span></span></div>
            <div class="welcome__wrapper">
                <div class="welcome__modal-video">
                </div>
            </div>
        </div>
    </div>
</section>