<section class="contacts-state">
    <div class="contacts-state__container">
        <ul class="contacts-state__list">
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>

            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state1.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">An easier way to buy your next Toyota</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
            <li class="contacts-state__item">
                <div class="contacts-state__images _img"><img src="./images/state2.webp" alt=""></div>
                <div class="contacts-state__descr">
                    <h2 class="contacts-state__title">A Guide to Road-Tripping With Pets</h2>
                    <span class="contacts-state__label">more</span>
                </div>
                <a href="#" class="contacts-state__link"></a>
            </li>
        </ul>
        <button class="contacts-state__show _label-btn">SHOW MORE</button>
    </div>
</section>