<section class="contacts-form _section-padding">
    <div class="contacts-form__container">
        <h1 class="_label-title">Contact Us</h1>
        <h2 class="_label-subtitle">Feel free to contact us with questions, potencial partnerships or media inquiries</h2>

        <form action="#" class="form">
            <input class="form__input" type="text" placeholder="Name" name="username" id="username">
            <input class="form__input" type="email" placeholder="E-mail" name="E-mail" id="email">
            <textarea class="form__input form__text" name="message" placeholder="Your text" id="message"></textarea>
            <button type="submit" class="_label-btn">submit</button>
        </form>
    </div>
</section>