.cause {

    &__list {
        margin-top: 50px;
        display: grid;
        row-gap: 40px;
        column-gap: 40px;
        grid-template-columns: repeat(4, 1fr);

        &-item {
            max-width: 270px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            min-height: 323px;
        }

        &-images {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: 1px solid #0066FF;
            border-radius: 100%;
        }

        &-title {
            color: #151515;
            font-size: 24px;
            font-weight: 700;
        }

        p {
            text-align: left;
            color: #151515;
            font-size: 16px;
            line-height: 130%;
        }
    }
}

@media (max-width: 1250px) {
    .cause {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
    }
}
@media (max-width: 600px) {
    .cause._section-padding{
        padding: 50px 0 0 0;
    }
    .cause {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}